@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Cormorant:wght@300;500;700&display=swap');
@import "tailwindcss";



@tailwind utilities;

@theme {
    --font-cormorant: 'Cormorant', serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

